@* @model AutomatiseringLiefLeed.Models.Reason

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reason</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnniversary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnniversary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnniversaryYears)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnniversaryYears)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@