@model IEnumerable<AutomatiseringLiefLeed.Models.Reason>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                Reden
            </th>
            <th>
                Geldbedrag
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.IsAnniversary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnniversaryYears)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    @if (item.GiftAmount % 1 == 0)
                    {
                        @($"€{item.GiftAmount:0},-")
                    }
                    else
                    {
                        @($"€{item.GiftAmount:0.00}")
                    }
                </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.IsAnniversary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnniversaryYears)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Wijzig Geldbedrag</a>
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
